<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>
  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Same blue bottle sus ramps sustainable. Cardigan dreamcatcher butcher sriracha aesthetic four loko YOLO squid. Blog hammock wayfarers trust fund try-hard four loko kale chips tousled celiac vaporware schlitz craft beer tilde thundercats XOXO.</p>
  </div>
</div>